  /*Wrapper*/
  #wrapper{
      color: white;
      background: linear-gradient(#000000, #c0c0c0);
      width: 1220px;
      margin-right: 100px;
      margin-left: 100px;
      margin-top: 10px;
      margin-bottom: auto;
      border-radius: 4px;
      border: 5px dotted #ffffff;
  }

  /*Body*/
  body{
      background-image:url("../images/dark-square.gif");
      background-repeat: repeat;
  }

  /*Header*/
  h1, h2, h3{
      color: gold;
      font-family: "Courier New", Courier, monospace;
  }

  /*Heading 1*/
  #Title{
      border-bottom:2px solid #ffffff;
      padding-bottom:10px;
      margin-top:5px;
      text-align: center;
      width: 1190px;
  }

  #Title{
      padding: 15px;
  }

  /*Heading 2*/
#Description{
    text-indent: 30px;
}

/*Paragraphs*/
p{
    padding: 8px;
}

/*Globe Pic*/
  figure{
      border: 3px groove #ffd700;
      width: 350px;
      padding: 5px;
  }
  
  /*Caption*/
  figcaption{
      text-align: center;
      padding: 10px;
      border: 3px groove #ffd700;
      background-color: #000000;
      font-family: "vandana", sans-serif;
  }

  /*Heading 3*/
  #Usability{
      text-align: center;
      width: 1220px;
  }

  /*Table*/

  table {
      border-spacing: 20px;
      background: radial-gradient(#000000, #ffd700);
      border: 5px groove #000000;
      margin-right: 210px;
      margin-left: 210px;
      margin-top: auto;
      margin-bottom: auto;
      width: 800px;

  }

  /*Table Headers*/
  table th{
      border: 3px groove #ffffff;
      width: 170px;
      padding: 5px;
      margin: 10px auto;
      text-transform: uppercase;
      background-color: #000000;
      color: #ffffff;
  }

  /*Table Data*/
table td{
      font-size: 18px;
      text-align: center;
}

/*Table Links*/
td a{
    color: #ffffff;
}

/*Footer*/
  footer{
      font-size: 12px;
      text-align: center;
      padding: 15px;
  }